@media screen and (max-width: 400px) {
    .navbar-left,
    .navbar-right {
        display: flex;
    }

    .navbar,
    .navbar-left,
    .navbar-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-left .nav-item,
    .navbar-right .nav-item,
    .navbar button {
        margin: 0 0 2px;
    }

    .navbar {
        height: auto;
        padding: 5px;
    }

    th:first-child,
    th:last-child,
    td:first-child,
    td:last-child {
        width: 50px;
    }

    .hero {
        height: 150px;
    }

    .services {
        height: auto;
    }

    .card {
        width: 80%;
        height: 300px;
        margin: 10px auto;
    }

    .card img {
        height: 60%;
    }
}