/* FONTS START */
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;1,700;1,800&display=swap');
/* FONTS END */
/* ------------------------------------------- */
/* GLOBAL STYLE START */
* {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

body {
    background-color: #E6DAF2;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
}

button {
    cursor: pointer;
}

.error {
    color: red;
}

/* GLOBAL STYLE END */
/* ------------------------------------------- */
/* NAVBAR STYLE START */
header {
    background-color: #F7BB52;
    border-bottom: 1px solid #AAA3B5;
}

.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: #e6e2e6;
}

.navbar-left .nav-item {
    margin-right: 10px;
}

.navbar-right .nav-item {
    margin-left: 10px;
}

.navbar button {
    border: 1px solid #AAA3B5;
    border-radius: 3px;
    background-color: #fff;
    color: #3C3C3C;
    padding: 10px 15px;
}

.navbar button:hover {
    background-color: #e6e2e6;
}

/* NAVBAR STYLE END */
/* ------------------------------------------- */
/* AUTH STYLE START */
.auth-card {
    width: 50%;
    margin: 10px auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-group input,
.form-group textarea {
    padding: 5px;
}

.form-group button {
    padding: 5px;
}

.auth-card small {
    color: red;
}

/* AUTH STYLE END */
/* ------------------------------------------- */
/* HERO STYLE START */
.hero {
    height: 300px;
    width: 100%;
    background: black url("../images/24744.jpg") no-repeat center;
    background-size: cover;
}

/* HERO STYLE END */
/* ------------------------------------------- */
/* SERVICES STYLE START */
.services {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    background-color: #fff;
    color: #3C3C3C;
    border: 1px solid #D6CCE4;
    height: 300px;
    overflow-y: hidden;
}

.card img {
    width: 100%;
    height: 40%;
}

.card h3 {
    text-align: center;
    margin: 10px 5px;
    font-size: 20px;
}

.card p {
    margin: 0 5px;
    font-size: 15px;
}

/* SERVICES STYLE END */
/* ------------------------------------------- */
/* MAP STYLE START */
.map {
    width: 100%;
    height: 300px;
}

/* MAP STYLE END */
/* ------------------------------------------- */
/* FEEDBACK PAGE STYLE START */
.comment-form {
    background-color: white;
    padding: 10px;
    color: black;
}

.feedback {
    margin: 10px 0;
}

/* COMMENT FORM STYLE END */
/* ------------------------------------------- */
/* TABLE FORM STYLE START */
table {
    margin: 10px 0;
    background-color: white;
}

th, td, table {
    border: 1px solid #D6CCE4;
    border-collapse: collapse;
    padding: 5px 10px;
}

th:first-child,
th:last-child,
td:first-child,
td:last-child {
    width: 100px;
}

/* TABLE FORM STYLE END */
/* ------------------------------------------- */
/* FOOTER STYLE START */
footer {
    background-color: #9C95A5;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e2e6;
}

/* FOOTER STYLE END */
/* ------------------------------------------- */
/* RESPONSIVE START */
@media (max-width: 400px) {
    .navbar-left,
    .navbar-right {
        display: flex;
    }

    .navbar,
    .navbar-left,
    .navbar-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-left .nav-item,
    .navbar-right .nav-item,
    .navbar button {
        margin: 0 0 2px;
    }

    .navbar {
        height: auto;
        padding: 5px;
    }

    th:first-child,
    th:last-child,
    td:first-child,
    td:last-child {
        width: 50px;
    }

    .hero {
        height: 150px;
    }

    .card {
        width: 100%;
        height: 370px;
        margin: 20px auto;
    }

}

/* RESPONSIVE END */